{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Gestion des Tickets{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="h4 mb-0">
                    <i class="fas fa-plus-circle"></i> Créer un nouveau ticket
                </h2>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.author) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.category) }}
                        </div>
                    </div>
                    {{ form_row(form.description) }}
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-paper-plane"></i> Envoyer le ticket
                    </button>
                {{ form_end(form) }}
            </div>
        </div>

        {% if not app.user %}
        <div class="text-center mt-4">
            <a href="{{ path('app_login') }}" class="btn btn-outline-primary">
                <i class="fas fa-sign-in-alt"></i> Espace personnel
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}